.btn {
    display: inline-block;
    background-color: $gray;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    &::after {
        content: "\f077";
        font-family: "FontAwesome";
        font-size: 2em;
        line-height: 50px;
        color: $white;
    }

    &:hover {
        cursor: pointer;
        background-color: $hover;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}