@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;600&display=swap');

$dark-blue: #17162E;
$background-container: #1D1C3B;
$hover: #2b294f;
$white: #ffffff;
$gray: #454558;
$text: #ACACAC;

@import 'header', 'main', 'button';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $gray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: $background-container;
    border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1260px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
    flex-direction: column;
    background-color: #17162E;
    color: #ffffff;
    scroll-behavior: smooth;
    font-family: "Kumbh Sans", sans-serif;
}