@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;600&display=swap');

$dark-blue: #17162E;
$background-container: #1D1C3B;
$white: #ffffff;
$gray: #454558;

@import 'header', 'main';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $gray;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: $background-container;
    border-radius: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-blue;
    color: $white;
    font-family: 'Kumbh Sans', sans-serif;
}